---
layout: default
title: Connect to perform
---

<main>
  {% include button-omhoog.html %}
  <div class="landing landing--lightblue bg-lightblue">
    <div class="innercontainer innercontainer--werken-bij">
      <div class="landing-content">
        <h1>{{site.data.connect-to-perform.title}}</h1>
        {{site.data.connect-to-perform.landing-tekst | markdownify}}
      </div>
    </div>

    <div class="img-overlay-wrap">
      <img
        class="landing-image"
        src="{{site.data.connect-to-perform.pagina-afbeelding}}"
        alt=""
      />
      {% include svg1-lightblue.html %} {% include svg1-desktop-lightblue.html
      %}
    </div>
  </div>
  <div class="connect">
    <div class="innercontainer innercontainer--ctp margin-bottom-2">
      <h2 class="margin-top-2">{{site.data.connect-to-perform.methoden}}</h2>
      <p class="bold fs-16-px">
        {{site.data.connect-to-perform.methoden-tekst}}
      </p>
      <img
        class="margin-top-2"
        src="{{site.data.connect-to-perform.pagina-illustratie}}"
        alt=""
      />
      <h3 class="margin-top-2">
        {{site.data.connect-to-perform.werkwijze-titel}}
      </h3>
      {{site.data.connect-to-perform.werkwijze-tekst | markdownify}}
      <h3 class="margin-top-2">
        {{site.data.connect-to-perform.werkvorm-titel}}
      </h3>
      {{site.data.connect-to-perform.werkvorm-tekst | markdownify}}
      <p class="btn btn-full margin-bottom-1em block max-content margin-top-2">
        <a href="{{site.data.home.actievraag-button}}"
          >{{site.data.connect-to-perform.button1}}</a
        >
      </p>
      <p class="btn btn-full block max-content margin-bottom-4">
        <a href="{{site.data.nav.ctp-contact}}"
          >{{site.data.connect-to-perform.button2}}</a
        >
      </p>
    </div>
  </div>
</main>
