---
layout: default
title: Connect to perform
namespace: connect-to-perform
permalink: /connect-to-perform/
permalink_en: /connect-to-perform/
---

<main>
  {% include button-omhoog.html %}
  <div class="landing landing--lightblue bg-lightblue">
    <div class="innercontainer innercontainer--werken-bij">
      <div class="landing-content">
        <h1>{% t connect-to-perform.title %}</h1>
        {% capture landing_text %}{% t connect-to-perform.landing-tekst %}{% endcapture %}
        {{ landing_text | markdownify }}
      </div>
    </div>

    <div class="img-overlay-wrap">
      <img class="landing-image" src="{% t connect-to-perform.pagina-afbeelding %}" alt="" />
      {% include svg1-lightblue.html %} {% include svg1-desktop-lightblue.html %}
    </div>
  </div>
  <div class="connect">
    <div class="innercontainer innercontainer--ctp margin-bottom-2">
      <h2 class="margin-top-2">{% t connect-to-perform.methoden %}</h2>
      <p class="bold fs-16-px">
        {% t connect-to-perform.methoden-tekst %}
      </p>
      <img class="margin-top-2" src="{% t connect-to-perform.pagina-illustratie %}" alt="" />
      <h3 class="margin-top-2">
        {% t connect-to-perform.werkwijze-titel %}
      </h3>
      {% capture werkwijze_text %}{% t connect-to-perform.werkwijze-tekst %}{% endcapture %}
      {{ werkwijze_text | markdownify }}
      <h3 class="margin-top-2">
        {% t connect-to-perform.werkvorm-titel %}
      </h3>
      {% capture werkvorm_text %}{% t connect-to-perform.werkvorm-tekst %}{% endcapture %}
      {{ werkvorm_text | markdownify }}
      <p class="btn btn-full block max-content margin-bottom-4 margin-top-2">
        <a href="{% t connect-to-perform.more-info %}" target="_blank">{% t connect-to-perform.button1 %}</a>
      </p>
    </div>
  </div>
</main>