---
layout: default
title: Werken bij
---

<main>
  {% include button-omhoog.html %}
  <div class="landing landing--werken-bij Lichtblauw">
    <div class="innercontainer innercontainer--werken-bij">
      <div class="landing-content">
        <h1>{{site.data.hoe-wij-werken.title}}</h1>
        {{site.data.hoe-wij-werken.landing-tekst | markdownify}}
      </div>
    </div>

    <div class="img-overlay-wrap">
      <img
        class="landing-image"
        src="{{site.data.werken-bij-ons.afbeelding}}"
        alt=""
      />
      {% include svg1-lightblue.html %} {% include svg1-desktop-lightblue.html
      %}
    </div>
  </div>
  <div class="innercontainer--werken-bij">
    <section class="werken-bij">
      <h2 class="werken-bij__title">{{site.data.hoe-wij-werken.kop}}</h2>
      <h3>{{site.data.hoe-wij-werken.wat-je-doet}}</h3>

      {{site.data.werken-bij-ons.wat-je-doet-tekst| markdownify}}

      <h3>{{site.data.werken-bij-ons.wat-we-bieden}}</h3>
      {{site.data.werken-bij-ons.wat-we-bieden-tekst | markdownify}}
      <div class="werken-bij__contact">
        {{site.data.werken-bij-ons.contact | markdownify}}
      </div>
      <p class="werken-bij__uitzendbureaus">
        {{site.data.werken-bij-ons.uitzendbureaus}}
      </p>
    </section>
  </div>
</main>
