---
layout: default
title: Hoe wij werken
---

<main>
  {% include button-omhoog.html %}
  <div class="landing landing--werken-bij Lichtblauw">
    <div class="innercontainer innercontainer--werken-bij">
      <div class="landing-content">
        <h1>{{site.data.hoe-wij-werken.title}}</h1>
        {{site.data.hoe-wij-werken.landing-tekst | markdownify}}
      </div>
    </div>

    <div class="img-overlay-wrap">
      <img
        class="landing-image"
        src="{{site.data.werken-bij-ons.pagina-afbeelding}}"
        alt=""
      />
      {% include svg1-lightblue.html %} {% include svg1-desktop-lightblue.html
      %}
    </div>
  </div>
  <div class="vision">
    <h2>{{site.data.hoe-wij-werken.waar-wij-voor-staan}}</h2>
    {{site.data.hoe-wij-werken.waar-wijvoor-staan-tekst | markdownify}}
  </div>
  <div class="wijzijn">
    <div class="innercontainer">
      <div class="wijzijn-flex">
        <div class="waardes">
          <img src="{{site.data.hoe-wij-werken.waarde-1-afbeelding}}" alt="" />
          <h3>{{site.data.hoe-wij-werken.waarde-1-titel}}</h3>
          {{site.data.hoe-wij-werken.waarde-1-tekst | markdownify}}
        </div>
        <div class="waardes">
          <img src="{{site.data.hoe-wij-werken.waarde-2-afbeelding}}" alt="" />
          <h3>{{site.data.hoe-wij-werken.waarde-2-titel}}</h3>
          {{site.data.hoe-wij-werken.waarde-2-tekst | markdownify}}
        </div>
        <div class="waardes">
          <img src="{{site.data.hoe-wij-werken.waarde-3-afbeelding}}" alt="" />
          <h3>{{site.data.hoe-wij-werken.waarde-3-titel}}</h3>
          {{site.data.hoe-wij-werken.waarde-3-tekst | markdownify}}
        </div>
      </div>
      <div class="wijzijn-flex wijzijn-flex-2">
        <div class="waardes waarde-4">
          <img src="{{site.data.hoe-wij-werken.waarde-4-afbeelding}}" alt="" />
          <h3>{{site.data.hoe-wij-werken.waarde-4-titel}}</h3>
          {{site.data.hoe-wij-werken.waarde-4-tekst | markdownify}}
        </div>
        <div class="waardes">
          <img src="{{site.data.hoe-wij-werken.waarde-5-afbeelding}}" alt="" />
          <h3>{{site.data.hoe-wij-werken.waarde-5-titel}}</h3>
          {{site.data.hoe-wij-werken.waarde-5-tekst | markdownify}}
        </div>
      </div>
    </div>
  </div>
</main>
