---
layout: default
# Add namespace, use translated title, keep existing permalinks
namespace: vertrouwenspersoon
permalink: /vertrouwenspersoon/ # Path for 'nl' (default)
permalink_en: /confidential-advisor/ # Path for 'en' (Corrected from adviser->advisor)
title: "vertrouwenspersoon" # Use a key for the HTML title
---

<main>
  {% include button-omhoog.html %}
  <div class="landing landing--lightblue bg-lightblue">
    <div class="innercontainer innercontainer--werken-bij">
      <div class="landing-content">
        <h1>{% t vertrouwenspersoon.title %}</h1>
        {% capture landing_text %}{% t vertrouwenspersoon.landing-tekst %}{% endcapture %}
        {{ landing_text | markdownify }}
      </div>
    </div>

    <div class="img-overlay-wrap">
      <img class="landing-image" src="{% t vertrouwenspersoon.pagina-afbeelding %}" alt=""  />
      {% include svg1-lightblue.html %} {% include svg1-desktop-lightblue.html %}
    </div>
  </div>
  <div class="connect">
    <div class="innercontainer innercontainer--ctp margin-bottom-2">
      <h2 class="margin-top-2">
        {% t vertrouwenspersoon.pagina-titel %}
      </h2>
      {% capture vp_tekst %}{% t vertrouwenspersoon.vertrouwenspersoon-tekst %}{% endcapture %}
      {{ vp_tekst | markdownify }}
    </div>
  </div>
</main>