---
layout: default
namespace: werken-bij
permalink: /werken-bij/
title: "werken bij"
lang: nl
---

<main>
  {% include button-omhoog.html %}
  <div class="landing landing--red bg-rood">
    <div class="innercontainer innercontainer--werken-bij bg-red">
      <div class="landing-content">
        <h1>{% t werken-bij.title %}</h1>
        {% capture landing_text %}{% t werken-bij.landing-tekst %}{% endcapture %}
        {{ landing_text | markdownify }}
      </div>
    </div>

    <div class="img-overlay-wrap">
      <img class="landing-image" src="{% t werken-bij.pagina-afbeelding %}" />
      {% include svg1-red.html %} {% include svg1-desktop-red.html %}
    </div>
  </div>
  <div class="innercontainer--werken-bij">
    <section class="werken-bij">
      <h2 class="werken-bij__title">{% t werken-bij.kop %}</h2>

      <h3>{% t werken-bij.wat-je-doet %}</h3>
      {% capture wat_je_doet_tekst %}{% t werken-bij.wat-je-doet-tekst %}{% endcapture %}
      {{ wat_je_doet_tekst | markdownify }}

      <h3>{% t werken-bij.wat-we-bieden %}</h3>
      {% capture wat_we_bieden_tekst %}{% t werken-bij.wat-we-bieden-tekst %}{% endcapture %}
      {{ wat_we_bieden_tekst | markdownify }}

      <div class="werken-bij__contact">
        {% capture contact_text %}{% t werken-bij.contact %}{% endcapture %}
        {{ contact_text | markdownify }}
      </div>

      <p class="werken-bij__uitzendbureaus">
        {% t werken-bij.uitzendbureaus %}
      </p>
    </section>
  </div>
</main>