<a href="#top" class="button-omhoog-link">
  <svg
    id="button-omhoog"
    data-name="Laag 3"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36.72 36.72"
  >
    <defs>
      <style>
        .cls-4 {
          fill: #fff;
        }

        .cls-5 {
          fill: #4db0b0;
        }
      </style>
    </defs>
    <g id="Laag_3-2" data-name="Laag 3">
      <path
        class="cls-5"
        d="M0,0H27.54c5.07,0,9.18,4.11,9.18,9.18v27.54H9.14c-5.05,0-9.14-4.1-9.14-9.14V0H0Z"
      />
      <path
        id="Path_Copy"
        data-name="Path Copy"
        class="cls-4"
        d="M23.63,22.43l-5.27-5.28-5.28,5.28c-.53,.53-1.39,.53-1.92,0-.53-.53-.53-1.39,0-1.92l6.25-6.23c.53-.52,1.37-.52,1.9,0l6.25,6.23c.53,.53,.53,1.39,0,1.92,0,0,0,0,0,0-.54,.52-1.39,.53-1.93,0Z"
      />
    </g>
  </svg>
</a>
