<footer>
 
    <div class="footer-flex">
 
      <div class="connect-to-perform">
<h2>Doe je mee met onze Connect to Perform Spelavond? <br>Eerstvolgende datum: <br>{% for datum in site.data.ctp-contact.data limit:1 %}{{datum.datum}}{% endfor %}</h2>
        <p class="btn btn-full Lichtblauw">
          <a href="{{site.data.nav.ctp-contact}}">Ik schrijf me in!</a>
        </p>
      </div>
    </div>
    <div class="Groen footer footer-bottom">
      <div class="volgons">
    <p class="bold margin-bottom-0 fs-15px">Volg ons</p
        ><a href="https://nl.linkedin.com/company/human-connection" target="_blank" class="footer-link-small"
          ><img src="/assets/images/LinkedIn.png" alt=""
        /></a>
  </div>
      <p>
        Ontwerp: <a class="underline" href="https://studioryza.nl">studioryza.nl </a>| Realisatie:
        <a href="https://www.daanboertien.com" class="underline">Daan Boertien</a>
      </p>
      <p>2022 All Rights Reserved | Disclaimer | Cookie Policy | Privacy</p>
    </div>
 
</footer>

<div class="footer-desktop">

  {%- comment -%} <div class="footer-menu-flex">
    <div class="footer-menu-items menu1">
      <a href="{{site.data.nav.wie-wij-zijn}}" class="footer-link-bold">Wie wij zijn</a
      ><a href="{{site.data.nav.wie-wij-zijn}}" class="footer-link-small">Wie wij zijn</a>
    </div>
    <div class="footer-menu-items menu2">
      <a href="{{site.data.nav.wat-wij-doen}}" class="footer-link-bold">Wat wij doen</a
      ><a href="{{site.data.nav.wat-wij-doen}}" class="footer-link-small">Wat wij doen</a>
      <a href="{{site.data.nav.hoe-wij-werken}}" class="footer-link-small">Hoe wij werken</a>
      <a href="{{site.data.nav.connect-to-perform}}" class="footer-link-small">Connect to perform</a>
    </div>
    <div class="footer-menu-items menu3">
      <a href="{{site.data.nav.contact}}" class="footer-link-bold">Contact</a
      ><a href="{{site.data.nav.contact}}" class="footer-link-small">Contact</a>
      <a href="{{site.data.nav.werken-bij}}" class="footer-link-small">Werken bij</a>
    </div>
    <div class="footer-menu-items menu4">
      <a href="#" class="footer-link-bold">Volg ons</a
      ><a href="https://nl.linkedin.com/company/human-connection" target="_blank" class="footer-link-small"
        ><img src="/assets/images/LinkedIn.png" alt=""
      /></a>
    </div>
  </div> {%- endcomment -%}

  <div class="volgons fs-15px">
    <p class="bold margin-bottom-0">Volg ons</p
        ><a href="https://nl.linkedin.com/company/human-connection" target="_blank" class="footer-link-small"
          ><img src="/assets/images/LinkedIn.png" alt=""
        /></a>
  </div>
  
  <div class="connect">
    <h2>Doe je mee met onze Connect to Perform Spelavond?<br>Eerstvolgende datum: <br>{% for datum in site.data.ctp-contact.data limit:1 %}{{datum.datum}}{% endfor %}</h2>
    <p class="btn btn-full Lichtblauw btn-ctp">
      <a href="{{site.data.nav.ctp-contact}}">Ik schrijf me in!</a>
    </p>
  </div>

  
  <p class="ontwerp fs-12px">
    Ontwerp: <a class="underline" href="https://studioryza.nl">studioryza.nl </a>| Realisatie:
    <a href="https://www.daanboertien.com" class="underline">Daan Boertien</a>
  </p>
  <p class="disclaimer fs-12px">©{{"now" | date: "%Y"}} All Rights Reserved | Disclaimer | Cookie Policy | Privacy</p>
  <div class="green-space"></div>
  
  
</div>
