<svg
  id="Laag_2"
  data-name="Laag 2"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 159.71 404.76"
  class="svg2-desktop"
  preserveAspectRatio="none"
>
  <defs>
    <style>
      .cls-11 {
        fill: var(--clr-yellow);
      }
    </style>
  </defs>
  <g id="Laag_2-2" data-name="Laag 2">
    <g id="Laag_1-2" data-name="Laag 1-2">
      <path
        class="cls-11"
        d="M75.08,151.37C75.08,56.45,37.26,16.68,0,0V404.76s159.71,0,159.71,0c-52.48-63.68-84.27-149.79-84.62-253.39h-.01Z"
      />
    </g>
  </g>
</svg>
