.Donkerblauw {
    background-color: var(--clr-darkblue);
}

.Lichtblauw {
    background-color: var(--clr-lightblue);
}
.Geel {
    background-color: var(--clr-yellow);
}

.Groen {
    background-color: var(--clr-green);
}

.Grijs {
    background-color: var(--clr-grey);
}

.Rood {
    background-color: var(-clr-red);
}

.bold {
    font-weight: 500;
}

.tight-text {
    line-height: 1.0;
}

.center {
    text-align: center;
    
}

.centered {
    display: flex;
    justify-content: center;
}

.margin-top-2{
    margin-top: 2em;
}
