body {
    height: 100%;
}

.innercontainer {
    padding-left: 1em;
    padding-right: 1em;
}
.landing {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--clr-green);
    color: white;
    padding-bottom: var(--spacer-small);
}



.card {
    background: #0bbbb4;
    color: white;
    max-width: 200px;
    // margin-inline: auto;
    margin-top: 3em;
    line-height: 1;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 200;
    border-radius: 0px var(--border-radius) 0px var(--border-radius);
    overflow: hidden;
    transition: border-radius 0.2s ease-out;

}

.card:hover {
    border-radius: var(--border-radius) 0px var(--border-radius) 0px;
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform ease-out .2s;
}

.card-image {
    overflow: hidden;
}

.card .bold {
    font-weight: 600;
}

.card-content {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    z-index: 2;
}

.card:hover {
    cursor: pointer;
}
.card:hover img {
    transform: scale(105%);
}

