a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  justify-self: auto;
  padding: 1em;
  
  
  background: white;
  position: absolute;
  top: 0;
  width: 85%;
  left: 0;
  right: 1.5em;
  z-index: 30;
  border-radius: 0px 0px 30px 0px;
}



.extracorner::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 30px;
  height: 60px;
  border-top-left-radius: 30px;
  box-shadow: 0 -30px 0 0 white;
  background: transparant;

}


nav img {
  max-width: 50%;
  z-index: 100;
}

.nav-desktop {
  display: none;
}
.nav-desktop ul {

  list-style: none;
  margin: 0;
  padding-left: 0;
  display: none;
  
}

.nav-desktop li {
  color: var(--clr-black);

  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
.nav-desktop li a {
  color: var(--clr-black);
}

.nav-desktop li:hover,
.nav-desktop li:focus-within {
  cursor: pointer;
}

.nav-desktop li:focus-within a {
  outline: none;
}

.nav-desktop ul li ul {
  visibility: hidden;
  background: white;
  opacity: 0;
  width: 12rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  right: 0;
  display: none;
  border: var(--clr-black) solid 1px;
}

.nav-desktop ul li:hover > ul,
.nav-desktop ul li:focus-within > ul,
.nav-desktop ul li ul:hover,
.nav-desktop ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

.nav-desktop ul li ul li {
  clear: both;
  width: 100%;
}


.nav-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  
  background: white;
  color: black;
  opacity: 0;
  transition: all 0.4s ease-out;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 8em;
  transform: translateY(-100%);
  padding-bottom: 2em;
}

.nav-menu ul {
 
  margin-top: 3em;
  width: 90%;
  color: black;
  display: block;
  list-style: none;
  
}

.nav-menu ul li {
  padding-left: 1em;
  padding-top: .7em;
  padding-bottom: .7em;
  border-bottom: 1px solid var(--clr-darkblue);
  font-weight: 500;
}

.nav-menu ul li li {
  border-bottom: 0;
  font-weight: 300;
  padding-bottom: 0;
}

.nav-menu.open {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2 ease-out;
  transform: translateY(0);
}

.nav-menu ul {
  padding: 0;
  margin: 0 auto;
}

.nav-menu a {
  color: var(--clr-darkblue);
}

.submenu-mobile {
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-out;
}


.submenu-mobile-toggle2.open .submenu-mobile{
  height: 5.5em;
  opacity: 1;
}

.submenu-mobile-toggle1.open .submenu-mobile,
.submenu-mobile-toggle3.open .submenu-mobile{
  height: 3.5em;
  opacity: 1;
}

.li-outer.open::after{
  transform: rotate(180deg);
}

.li-outer {
  position: relative;
}

.li-outer::after{
  content: '';
  position: absolute;
  background: center/contain no-repeat  url('/assets/images/arrow-down.svg');
  top: 1em;
  right: 1em;
  width: 8px;
  height: 4px;
  transform: rotate(0deg);
  color: var(--clr-darkblue);
  transition: transform 0.2s ease-out;
}


.btn-menu {
  align-self: center;
}