a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  justify-self: auto;
  padding: 1em;
  
  
  background: white;
  position: sticky;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  top: 0;
  width: 85%;
  left: 0;
  right: 1.5em;
  z-index: 30;
  border-radius: 0px 0px 30px 0px;
}



.extracorner::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 30px;
  height: 60px;
  border-top-left-radius: 30px;
  box-shadow: 0 -30px 0 0 white;
  background: transparant;

}


nav img {
  max-width: 50%;
  z-index: 100;
}

nav ul {

  list-style: none;
  margin: 0;
  padding-left: 0;
  display: none;
  
}

nav li {
  color: var(--clr-black);

  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
nav li a {
  color: var(--clr-black);
}

nav li:hover,
nav li:focus-within {
  cursor: pointer;
}

nav li:focus-within a {
  outline: none;
}

nav ul li ul {
  visibility: hidden;
  background: white;
  opacity: 0;
  width: 12rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  right: 0;
  display: none;
  border: var(--clr-black) solid 1px;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

nav ul li ul li {
  clear: both;
  width: 100%;
}


.nav-menu {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: -30px;
  height: 70vh;
  background: white;
  color: black;
  opacity: 0;
  transition: all 0.4s ease-out;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 8em;
  transform: translateY(-100%);
}

.nav-menu ul {

  margin-top: 3em;
  color: black;
  display: block;
}

.nav-menu.open {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2 ease-out;
  transform: translateY(0);
}

.nav-menu ul {
  padding: 0;
  margin: 0;
}

.submenu-mobile {
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-out;
}

.submenu-mobile-toggle.open .submenu-mobile{
  height: 100%;
  opacity: 1;
  pointer-events: all;
}