body {
    font-family: 'Inter', sans-serif;

}

p {
    font-weight: 300;
    line-height: 1.6;
    color: var(--clr-black);
    margin-top: 0;
}

h2{
    color: var(--clr-black);
}

h3{
    color: var(--clr-darkblue);
    margin-bottom: .5em;
    margin-top: 0;
}