:root {
    --clr-darkblue: rgba(16,77,152,255);
    --clr-lightblue: rgba(78,184,232,255);
    --clr-lightestblue: rgba(237,242,251,255);
    --clr-green: rgba(77,175,176,255);
    --clr-grey: rgba(78,184,232,255);
    --clr-yellow: rgba(254,202,38,255);
    --clr-red: rgba(243,125,112,255);

    --border-radius: 30px;

    --spacer-small: 1em;
    --spacer-medium: 2em;
    --spacer-large: 3em;
    --spacer-extralarge: 4em;
  }