:root {
    --clr-darkblue: rgba(16,77,152,255);
    --clr-lightblue: rgba(78,184,232,255);
    --clr-green: rgba(78,184,232,255);
    --clr-grey: rgba(78,184,232,255);
    --clr-yellow: rgba(254,202,38,255);
    --clr-red: rgba(243,125,112,255);
  }