---
layout: default
title: Ronde 1
---

<main>
  {% include button-omhoog.html %}
  <div class="landing landing--lightblue bg-lightblue">
    <div class="innercontainer innercontainer--werken-bij">
      <div class="landing-content">
        <h1>{{site.data.ronde1.title}}</h1>
        {{site.data.ronde1.landing-tekst | markdownify}}
      </div>
    </div>

    <div class="img-overlay-wrap">
      <img
        class="landing-image"
        src="{{site.data.ronde1.pagina-afbeelding}}"
        alt=""
      />
      {% include svg1-lightblue.html %} {% include svg1-desktop-lightblue.html
      %}
    </div>
  </div>
  <div class="connect">
    <div class="innercontainer innercontainer--ctp margin-bottom-2">
      <h2 class="margin-top-2">{{site.data.ronde1.pagina-titel}}</h2>
      {{site.data.ronde1.ronde1-tekst | markdownify}} {% for item in
      site.data.ronde1.pdf %}
      <p class="btn btn-full margin-bottom-1em block max-content margin-top-2">
        <a href="{{ item.pdf }}" target="_blank">{{ item.pdf-title }}</a>
      </p>
      {% endfor %}
    </div>
  </div>
</main>
